body
{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color:#BDBDBD;
    
}
#menu
{
    float: center;
}
header
{
    font-size: large;
    text-align: center;
    padding:3%;
    background-color:#607D8B;
    font-size:220%;
    color:#FFFFFF;
}

#header1
{
    font-size: large;
    text-align: left;
    padding:3%;
    background-color:#607D8B;
    font-size:220%;
    color:#FFFFFF;
}
.choose
{
    border-style:solid;
    border-color:#212121;
    background-color: #CFD8DC;
    padding:4%;
    color:#212121;
    display: inline-block;
    margin:6%;
    text-align: center;
}
a
{
    display: block;
    color:#212121;
    text-decoration: none;
}


#zad
{
    background-color:#CFD8DC;
    font-size-adjust:0.9;
    padding:0.5%;

}
#row
{
    background-color:#757575;
    font-size-adjust:0.7;
    padding:0.5%;
    color:#FFFFFF;
}
#zadanko
{
    background-color:#455A64;
    width: 87%;
    margin:4%;
    padding:1%;
}
#podpkt
{
    width: 100%;
}
#ODPbd
{
    background-color:lightcoral;
    padding:0.5%;
}
#ODPok
{
    background-color:lightgreen;
    padding:0.5%;
}
#wynik
{
    background-color: #FFC107;
    color:#212121;
    padding:1%;
}

#home
{
    width:33%;
    background-color:#757575;
    list-style: none;
    float:left;
}
